In [1]:
import pandas as pd

In [6]:
df = pd.read_csv(r'/tmp/Students data.csv')
df.head(10)

   StudentID Class  Gender    GPA Accounting Machine Learning Graduate
0          1     A    Male  73.47          A                A        N
1          2     A  Female  71.22          A                A        N
2          3     A  Female  74.56          A                A        Y
3          4     A  Female  72.89          A                A        N
4          5     A  Female  70.11          A                A        N
5          6     A    Male  65.04          B                C        N
6          7     A    Male  77.11          A                A        Y
7          8     A  Female  64.75          B                C        N
8          9     B  Female  77.92          B                A        N
9         10     A  Female  76.50          B                A        N

In [18]:
df.set_index('Graduate',inplace=True)

In [31]:
df.loc['Y'] # Find All the Students who are Graduates

          StudentID Class  Gender    GPA Accounting Machine Learning
Graduate
Y                 3     A  Female  74.56          A                A
Y                 7     A    Male  77.11          A                A
Y                14     A    Male  80.08          B                A
Y                15     A    Male  81.67          A                A
Y                16     B  Female  82.07          B                A
Y                17     A    Male  74.11          B                A
Y                20     A    Male  76.46          B                B
Y                21     B    Male  75.57          B                A
Y                30     A  Female  85.29          A                A
Y                36     A  Female  85.55          A                A
Y                40     A  Female  84.01          B                A
Y                42     B  Female  90.66          B                A
Y                43     A  Female  83.94          A                A
Y                46     A  Female  87.85          A                A
Y                47     A  Female  80.60          A                D
Y                50     A  Female  82.55          B                A
Y                51     A    Male  79.00          B                A
Y                55     A  Female  78.08          B                A
Y                58     B  Female  85.72          B                A
Y                59     B  Female  88.35          B                A
Y                62     A    Male  78.39          B                B
Y                65     A  Female  83.79          A                A
Y                67     B  Female  87.30          B                A
Y                70     A  Female  87.30          A                A
Y                71     B  Female  87.42          B                A
Y                72     A  Female  84.33          B                A
Y                74     A  Female  84.11          A                A
Y                75     A  Female  87.26          A                A
Y                76     A  Female  91.90          B                A
Y                77     A  Female  87.77          A                A
Y                78     A  Female  84.68          A                A
Y                80     A  Female  89.95          B                A
Y                82     B  Female  85.84          B                D
Y                83     B    Male  84.18          B                A
Y                84     A  Female  85.00          A                A
Y                85     A  Female  90.62          A                A
Y                88     A  Female  88.62          B                S
Y                89     A  Female  87.87          B                S
Y                90     A    Male  86.01          A                A
Y                91     A    Male  89.46          B                A
Y                92     A  Female  86.96          B                A
Y                94     A  Female  91.61          B                S
Y                97     A    Male  91.74          B                S
Y                98     A    Male  91.14          B                A
Y                99     A    Male  90.31          B                A
Y               101     A  Female  88.34          B                A
Y               102     B    Male  89.84          B                A
Y               103     B    Male  88.82          B                A
Y               104     A    Male  86.60          B                A
Y               105     A    Male  93.71          B                A

In [33]:
df.iloc[0] # Find the personal details

StudentID               1
Class                   A
Gender               Male
GPA                 73.47
Accounting              A
Machine Learning        A
Name: N, dtype: object